html { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    body {
        background: transparent;
        font-family: 'Lato', 'Roboto' , sans-serif;
    }
  }


 